@tailwind base;
@tailwind components;
@tailwind utilities;

#leftToRight {
	animation: run ease 3s;
}

@keyframes run {
	0% {
		margin-left: -98%;
	}
	100% {
		margin-left: 0%;
	}
}

#rightToLeft {
	animation: runreverse ease 3s;
}

@keyframes runreverse {
	0% {
		margin-left: 0%;
	}
	100% {
		margin-left: -98%;
	}
}

.opacity-fadeinout {
	animation-name: fadeIn;
	animation-duration: 3s;
	/* animation-iteration-count: infinite; */
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
